@import url('https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@100;200&display=swap');


body {
  margin: 0;
  font-family: 'Anek Telugu', monospace;
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40vw;
  margin: 0 auto;
}

.gamebox {
  /* display: flex; 
  justify-content: space-between;
  align-items: center; */
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: repeat(2, 1fr);
  background-color: white;
  border: 1.5px solid black;
  width: 95vw;
  height: fit-content;
  margin: 20px auto;
}



/* ================== PLAYERS SECTION =============== */

.player-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* padding: 0 5px; */
  border: 1px solid black;
}


.player-title {
  color: black;
}



/* ================== CONTROLS SECTION =============== */

/* .controls {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 98%;
  width: 98%;
  align-items: center;
  text-align: center;
  margin: auto;
  grid-area: 2/1/3/2;
  border: .2px solid deeppink;
} */

.count-div {
  display: flex;
  justify-content: center;
}
.num-aliens-lbl {
  text-align: right;
  margin: .3em 0 .4em 0;
  font-size: 14px
}
#num-aliens {
  height: 1.2em;
  width: 2.2em;
  margin-left: 1em;
  font-size: 16px;
  margin: 0 .3em 0 .3em;
}


.controls-inner {
  display: flex;
  flex-direction: column;
}
.controls-inner button {
  height: 2.1em;
  font-size: 12px;
  /* width: fit-content; */
}

.battle-btn {
  /* width: 40%; */
  /* height: 2.6em; */
  /* border-radius: 3px; */
  background-color: orangered;
  font-weight: bold;
  /* margin: .2em .7em 0 0; */
}

.battle-btn:hover {
  background-color: olivedrab;
}

.battle-btn:active {
  background-color: red;
}

.battle-options {
  padding: 5px 0;
}

.continue-selected {
  background-color: lime;
}

.retreat, .continue {
  background-color: #c48;
  color: white;
}
.retreat-selected {
  background-color: blueviolet;
}

.results {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  white-space: pre; /* i don't remember why i did this*/
  width: 90%;
  height: 100%;
  text-align: left;
  padding: 0 .4em;
  margin: auto;
}
.results p {
  display: block;
  width: 60%;
  margin: 0;
}

.won-p1, .lost-p1 {
  color: red;
}


/* ================== ALIENS SECTION =============== */
.alien-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid;
  grid-area: 1/2/3/3;
}

.aliens {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* justify-content: flex-start; */
  padding: .4em;
  /* background-color: goldenrod; */
}

.alien {

  border: 2px solid green;
  /* height: 20vh;
  width: 20vw; */
  font-size: 12px;
  max-width: 20vw;
  min-width: 5vw;
  max-height: 20vh;
  min-height: 5vh;
  padding: 5px;
  margin: .2em;
}

.x {
  position: relative;
  top: -20%;
  left: 50%;
  width: 20%;
  height: 30%;
  transform: rotate(19deg);
  border: 3px solid red;
  opacity: .8;
}

.dead-alien {
  background-color: black;
  color: white;
  border: 2px solid red;
}

.winning-alien {
  background-color: greenyellow;
  border: 2px solid green;
}

.alien-label {
  width: 100%;
  align-self: flex-start;
  text-align: center;
  /* border-bottom: 1px solid; */
}

.console-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.console {
  width: 85vw;
  margin: auto;
  height: 600px;
  margin-bottom: 100px;
  padding: 10px;
  color: white;
  overflow-y: auto;
  background-color: black;
}



.img-source {
  display: none;
}